In [1]:
def myfunc():
    print('Hello World')

In [2]:
myfunc()

Hello World

Code Exercise 2 : Define a function called myfunc that takes in a name, and prints 'Hello Name'

In [3]:
def myfunc(name):
    print('My name is {}'.format(name))

In [4]:
myfunc('Shai')

My name is Shai

Code Exercise 3: Define a function called myfuc that takes in a Boolean Value(True or False). If True, return 'Hello', and if False, return 'Goodbye'

In [5]:
def myfunc(x):
    if x == True:
        return 'Hello'
    else:
        return 'Goodbye'

In [6]:
myfunc(True)

'Hello'

In [7]:
myfunc(False)

'Goodbye'

Code Exercise 4:myfunc takes 3 args x,y,z. if z True return x, if x False, return y

In [11]:
def myfunc(x,y,z):
    if z == True:
        return x
    else:
        return y

In [14]:
myfunc('Hello','Goodbye',False)

'Goodbye'

In [15]:
myfunc('Goodbye','Hello',True)

'Goodbye'

Code Exercise 5 : myfunc 2 args and return sum.

In [16]:
def myfunc(a,b):
    return a +b

In [17]:
myfunc(5,3)

8

Code Exercise 6: is_even 1 arg and returns True if even else false

In [19]:
def is_even(val):
    if val%2 == 0:
        return True
    else:
        return False

In [20]:
is_even(4)

True

In [21]:
is_even(27)

False

Code Exercies 7: is_greater 2 args return True (if first val > second val) False(first val less or equal to second val)

In [22]:
def is_greater(x,y):
    if x>y:
        return True
    else:
        return False

In [23]:
is_greater(4,3)

True

In [24]:
is_greater(99,124123)

False

A look at arbiterary number of arguments rather than positional *args . These are tuples

In [29]:
def myfunc(*args):
    print(args)
    for item in args:
        print(item)

In [30]:
myfunc(23,534,65,23,454,6,3,345)

(23, 534, 65, 23, 454, 6, 3, 345)
23
534
65
23
454
6
3
345

Instead of tuples like above use dictionary keywords **kwargs

In [33]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print("Fruit is {}".format(kwargs['fruit']))
    else:
        print('Did not find fruit')

In [34]:
myfunc(fruit = 'apple', veggie = 'lettuce')

Fruit is apple

a function with *args and **kwargs as arguments. One indicates tuple and other dictionary of arbiterary values.

In [36]:
def myfunc(*args,**kwargs):
    print( "I would like {} {}".format(args[0], kwargs['food']))

In [37]:
myfunc(13,2345,232,fruit= 'orange', food = 'eggs')

I would like 13 eggs

Function myfunc arbitrary number of args and returns the sum of the args

In [62]:
def myfunc(*args):
   result = 0
   for item in args:
       print(item)
       result += item
   return result

In [63]:
myfunc(10,20,30,40,50)

10
20
30
40
50

150

Function myfunc takes arbitrary number of args and returns list only with even args

In [73]:
def myfunc(*args):
    lst = []
    for item in args:
        if item % 2 == 0:
            lst.append(item)
    return lst

In [74]:
myfunc(2,32,3,5,63)

[2, 32]

Function myfunc takes string arg and returns matching string where every even letter is uppercase and every odd letter is lowercase. Assume incoming string only contains letters (no nums or toher chars)

In [100]:
def myfunc(str):
    count = 0
    lst = []
    for x in str:
        if count%2==0 :
          lst.append(x.upper())
        else:
          lst.append(x.lower())
        count +=1
    return ''.join(lst)

In [101]:
myfunc('shaistha')

'ShAiStHa'