METHODS

In [1]:
mylist = [1,2,3]
mylist.append(4)

In [2]:
mylist

[1, 2, 3, 4]

In [3]:
mylist.pop()

4

In [5]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

FUNCTIONS

In [6]:
def show_words():
    print("Hello")

In [7]:
show_words()

Hello

In [8]:
def greeting(name):
    print("Hello " + name)

In [10]:
greeting("Niju")

Hello Niju

Write a function to return the age of the person after taking year of birth as argument.

In [11]:
def current_age(year):
    age = 2021 - year
    return age

In [15]:
old = current_age(1930)
print(f'You are {old} Years old')

You are 91 Years old

Add 2 user input number arguments and print sum using function

In [16]:
def sum_t(num1,num2):
    return num1 + num2

In [17]:
answer = sum_t(34,54)

In [21]:
print(f'Sum is {answer}')

Sum is 88

Functions With Logic

Check whether the number is even

In [22]:
def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [24]:
result = is_even(2)

print(result)

True

#RETURN all even numbers as a list from the original list

In [21]:
my_list = [1,45,76,864,33,11,55,57]


def even_present(lst):
    #return all the even numbers in the list
    hold = []
    for x in lst:
        if x%2 ==0:
            hold.append(x)
        else:
            pass
    return hold

In [22]:
even_present(my_list)

[76, 864]

#RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

my_list = [1,45,76,864,33,11,55,57]


def even_present(lst):
    #return all the even numbers in the list
    for x in lst:
        if x%2 ==0:
            return True
        else:
            pass
    return False

even_present(my_list)

TUPLES

In [23]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [24]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [25]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [26]:
for ticker, price in stock_prices:
    print(price)

200
400
100

#Manipulate objects inside the tuples

In [27]:
for ticker, price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

Employee of the month

In [6]:
work_hrs = [('Abby',100), ('Billy',4000), ('Cassy',800)]

In [7]:
def employee_of_month(work_hrs):
    
    current_max = 0
    emp_month = ''
    
    for name,hours in work_hrs:
        if hours > current_max:
            current_max = hours
            emp_month = name
        else:
            pass
        
    return (emp_month,current_max)

In [8]:
employee_of_month(work_hrs)

('Billy', 4000)

CARNIVAL GUESSING GAME - "THREE CUP MONTE"

In [1]:
example = [1,2,3,4,5,6,7]

In [2]:
from random import shuffle

In [3]:
shuffle(example)

[4, 1, 7, 3, 6, 5, 2]

In [7]:
result

[4, 1, 7, 3, 6, 5, 2]

In [36]:
#Function to shuffle the list
def shuffle_list(mylst):
    shuffle(mylst)
    return mylst

#Function to ask user guess 
def player_guess():
    guess = ''
    
    while guess not in ['0','1','2']:
         guess = input("Pick a number 0, 1 or 2 :")

    return int(guess)



#Function to check whether the index guess is 'O' in the list
def check_guess(new_lst,guess):
    if new_lst[guess] == 'O':
        print("You Win")
    else:
        print("You Lose")
        print(new_list)
    
#INITIAL LIST

init_list = ['O','','']

#SHUFFLE LIST

new_list = shuffle_list(init_list)

#PLAYER GUESS

user_guess = player_guess()

#CHECK GUESS

check_guess(new_list,user_guess)

Pick a number 0, 1 or 2 :2
You Lose
['O', '', '']

In [30]:
user_guess

2

In [31]:
new_list