METHODS

In [1]:
mylist = [1,2,3]
mylist.append(4)

In [2]:
mylist

[1, 2, 3, 4]

In [3]:
mylist.pop()

4

In [5]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

FUNCTIONS

In [6]:
def show_words():
    print("Hello")

In [7]:
show_words()

Hello

In [8]:
def greeting(name):
    print("Hello " + name)

In [10]:
greeting("Niju")

Hello Niju

Write a function to return the age of the person after taking year of birth as argument.

In [11]:
def current_age(year):
    age = 2021 - year
    return age

In [15]:
old = current_age(1930)
print(f'You are {old} Years old')

You are 91 Years old

Add 2 user input number arguments and print sum using function

In [16]:
def sum_t(num1,num2):
    return num1 + num2

In [17]:
answer = sum_t(34,54)

In [21]:
print(f'Sum is {answer}')

Sum is 88

Functions With Logic

Check whether the number is even

In [22]:
def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [24]:
result = is_even(2)

print(result)

True

#RETURN all even numbers as a list from the original list

In [21]:
my_list = [1,45,76,864,33,11,55,57]


def even_present(lst):
    #return all the even numbers in the list
    hold = []
    for x in lst:
        if x%2 ==0:
            hold.append(x)
        else:
            pass
    return hold

In [22]:
even_present(my_list)

[76, 864]

#RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

my_list = [1,45,76,864,33,11,55,57]


def even_present(lst):
    #return all the even numbers in the list
    for x in lst:
        if x%2 ==0:
            return True
        else:
            pass
    return False

even_present(my_list)

TUPLES

In [23]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [24]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [25]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [26]:
for ticker, price in stock_prices:
    print(price)

200
400
100

#Manipulate objects inside the tuples

In [27]:
for ticker, price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0